body {
  background: #050505;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

/* NAV */
.navbar {
  backdrop-filter: blur(10px);
}

/* HERO */
.hero ,h1{
  font-family: 'Orbitron', sans-serif;
}
.hero {
  min-height: 100vh;
  padding-top: 90px;
  display: flex;
  align-items: center;
background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0,0,0,0.7)),
            url('FOTO/RobloxScreenShot20251227_215409095.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-img {
  max-width: 90%;
  height: auto;
}
.text-fandom {
  color: rgba(245, 244, 244, 0.7);
  font-size: 18px;
  max-width: 500px;
}
.hero h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}

/* MOBILE FIX */
@media (max-width: 991px) {
  .hero {
    text-align: center;
  }

  .hero-img {
    max-width: 70%;
  }
}
.glow {
  text-shadow: 0 0 15px rgba(255,255,255,0.2);
}

/* BUTTON */
.btn-discord-outline {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.3);
  padding: 8px 18px;
  border-radius: 10px;
  transition: 0.3s;
}

/* HOVER EFFECT */
.btn-discord-outline:hover {
  background: rgba(255,255,255,0.1);
  border-color: #fff;
  color: #fff;
}

.icon {
  width: 50px;
  height: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  background: rgba(255,255,255,0.08);
  border-radius: 50%;
  font-size: 20px;
}

/* NEWS */
.news-card img {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
    backdrop-filter: blur(10px);
}

.card-dark {
  background: #0f0f0f;
  border: 1px solid #222;
}

/* CTA */
.cta {
  background: linear-gradient(90deg,#111,#000);
  border-radius: 15px;
}

/* NOISE */
body::after {
  content:"";
  position:fixed;
  inset:0;
  pointer-events:none;
  background-image:url("https://grainy-gradients.vercel.app/noise.svg");
  opacity:0.05;
}
.role-line {
  color: #fff;
}

.role-line .line {
  width: 2px;
  height: 50px;
  background: rgba(255,255,255,0.5);
  margin: 0 auto 10px;
}

/* PANAH */
.arrow {
  display: block;
  transform: rotate(90deg); /* ini bikin > jadi ke bawah */
  font-size: 20px;
  margin-bottom: 5px;
  opacity: 0.7;

}
.news-card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;
  transition: 0.3s;
}

.news-card:hover {
  transition: 0.3s ease;
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* bnc rule */
.rules-card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;
}

.rules-list {
  list-style: none;
  padding: 0;
}

.rules-list li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 18px;
  color: #ddd;
  line-height: 1.5;
}

.rules-list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #38bdf8;
  font-weight: bold;
}

.rules-list b {
  color: #fff;
}

/* hover dikit biar hidup */
.rules-list li:hover {
  color: #fff;
  transform: translateX(4px);
  transition: 0.2s;
}
/* features */
.feature-card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  transition: 0.3s ease;
}

.feature-card h5 {
  margin-bottom: 10px;
}
.gallery-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.gallery-img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.Admin,h3{
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1.5px;
}
/* bikin background modal lebih gelap & clean */
.modal-content {
  background: transparent;
  border: none;
}

/* gambar di dalam modal */
#modalImage {
  max-width: 100%;
  max-height: 85vh;
  object-fit: contain;
  display: block;
  margin: auto;
  border-radius: 10px;
}

/* biar modal background lebih soft */
.modal-backdrop.show {
  opacity: 0.85;
  background-color: #000;
}

/* optional: cursor zoom di gallery */
.gallery-img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gallery-img:hover {
  transform: scale(1.03);
}

.modal.fade .modal-dialog {
  transform: scale(0.9);
  transition: transform 0.2s ease;
}

.modal.show .modal-dialog {
  transform: scale(1);
}